<nav>
    <ul>
      <li>
        <a routerLink="/home">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li>
        <a routerLink="/doctor">
          <i class="fas fa-user-md"></i> Admin
        </a>
      </li>
      <li>
        <a routerLink="/patient">
          <i class="fas fa-user"></i> Patient
        </a>
      </li>
      <li>
        <a routerLink="/login">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
      </li>
      <li>
        <a routerLink="/Registration">
          <i class="fas fa-user-plus"></i> Registration
        </a>

      </li>
      <li>
        <a routerLink="/doctordetails">
          <i class="fas fa-user-plus"></i> Doctor
        </a>
        
      </li>
      <li>
        <a routerLink="/appointment">
          <i class="fas fa-user-plus"></i> Appointment
        </a>
        
      </li>
      <li>
        <a routerLink="/about">
          <i class="fas fa-user-plus"></i> About
        </a>
      <li>
        <a routerLink="/logout">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  